.image-upload {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  overflow: hidden;

  .drag-area {
    flex-shrink: 0;
    padding-inline: 16px;
    padding-block: 80px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px dashed rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);

    &:hover,
    &.drag-over {
      background-color: rgba(0, 0, 0, 0.06);
    }
  }

  .file-input {
    display: none;
  }
}
